div{
    width: 100vw;
    height: 300px;
}

@media screen and (max-width: 1366px) {
    div{
        background-color: blueviolet;
    }    
}

@media screen and (max-width: 1200px) {
    div{
        background-color: palevioletred
    }   
}